* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #123524;
    color: #fff;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#passwordPrompt{
        text-align: center;
        align-items: center;
    }

.common {
        background-color: #333;
        color: #fff;
        padding: 40px;
        text-align: center;
        border-radius: 0 0 25px 25px;
        display: none; 
        position: sticky;
    }
    
 .header {
        position: sticky;
        top: 0;
        
    }

.footer {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 25px 25px 0 0;
        position: relative;
        width: 100%;
        display: none;
    }

.end{
    color:white;
    font-size: small;
}
.hist{
        display: none;
        text-align: justify;
        color: black;
        grid-row: 2;
        flex: 1; 
        margin: 30px 50px;
    } 

 .subtitulo {
        font-size: 1.2em;
        color: #ddd;    
        margin-top: 5px;  
        text-align: center; 
    }
    
.header h1 {
    margin: 0;
}

.intro {
    font-size: 1.2em;
    margin-top: 10px;
}

.menu-toggle {
    font-size: 1.5em;
    background: #353434;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    padding: 3px 5px;
    top: -9px;
    right: 20px;
    transition: 0.3s ease; 
}

.menu-toggle:hover {
    transform: scale(1.3);
}


.nav-menu {
    max-height: 0; 
    overflow: hidden; 
    background-color: #333;
    transition: 0.5s ease; 
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    margin: 10px 0;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-menu li a:hover {
    color: #ddd;
}

.show-menu {
    max-height: 200px; 
}

.giannn{
    width: 300px;
}

#babum{
    color: red
}

#hint{
    margin: 0px;
    font-style: italic;
    font-size: xx-small;
    opacity:  0.5;

}

